.nav-link {
  text-decoration: none;
  color: white;
  padding: 6px 6px;
  font-size: 1.2rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px 8px 0 0;
}

.navbar {
  border-bottom: 1px solid white;
  padding-bottom: 6px;
}

.active {
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid black;
  border-radius: 8px 8px 0 0;
  box-shadow: 1px -1px 1px rgba(255, 255, 255, 0.8);
}

.header {
  display: block;
  width: 90%;
  margin: 16px auto 22px;
}

.heroText {
  text-decoration: none;
  color: white;
  font-weight: 800;
  font-size: 32px;
  font-family: Helvetica, Arial, sans-serif;
}

.authNavWrapper {
  margin-left: 12px;
  &:first-of-type {
    margin-left: 0;
  }
  a {
    text-decoration: none;
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
  }
}
