.nav-link,
.sub-nav-link {
  text-decoration: none;
  color: white;
  padding: 6px 6px;
  font-size: 1.2rem;
  border: 1px solid rgba(0, 0, 0, 0);
}

.active {
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid black;
}

.navbar,
.sub-navbar {
  width: 100%;
  border-bottom: 1px solid white;
  padding-bottom: 6px;
}
