@import "./variables.scss";

.project-wrapper {
  h4 {
    margin: 0;
  }
}

.project-head {
  margin: 0 0 12px 0;
}

.project-item-wrap {
  border: 1px solid white;
  position: relative;
  .mock-link#first-link {
    margin-left: 8px;
  }
  .mock-link {
    box-sizing: content-box;
    display: inline-block;
    margin-bottom: 6px;
    border: 1px solid white;
    border-radius: 4px;
    padding: 4px 8px;
  }
}

.project-name {
  margin-left: 6px;
}

.project-flex {
  display: block;
}

.view-link {
  display: block;
  outline: 1px solid white;
  padding: 6px 0;
  text-align: center;
}

.view-link-container {
  min-width: 200px;
  float: left;
  width: 20%;
  max-width: 150px;
}

.project-container {
  margin: 0 0 0 5%;
  float: right;
  width: 75%;
}

.edit-delete {
  position: absolute;
  right: 0;
  bottom: 0;

  span {
    margin-right: 6px;
  }
}

.mock-link {
  color: blue;
  margin-left: 8px;
  box-sizing: content-box;
  display: inline-block;
  margin-bottom: 6px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 4px 8px;
  &:first-of-type {
    margin-left: 0;
  }
  &:hover {
    cursor: pointer;
  }
}
