@import "variables";
body {
  color: $secondary-color;
  background: $primary-color;
}

h1,
h4 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.activeLink {
  color: $primary-color;
  background-color: $secondary-color;
}

.coreWrapper {
  position: relative;
}
