.create-ticket-container {
  box-sizing: border-box;
  padding: 16px 8px;

  label,
  input,
  textarea {
    display: block;
    width: 100%;
    max-width: 300px;
  }

  .form-group {
    margin-top: 16px;

    &:first-of-type {
      margin-top: 0;
    }
  }
}

.project-ticket-container {
  border: 1px solid black;
  padding: 12px 22px;
  position: relative;
  h1,
  p {
    margin: 0;
  }
}
